<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mycompany_Catalog>
            <version>0.0.2</version>
        </Mycompany_Catalog>
    </modules>
    <global>
        <models>
            <mycompany_catalog>
                <class>Mycompany_Catalog_Model</class>
            </mycompany_catalog>
        </models>
        <blocks>
            <mycompany_catalog>
                <class>Mycompany_Catalog_Block</class>
            </mycompany_catalog>
        </blocks>
        <resources>
            <mycompany_catalog_setup>
                <setup>
                    <module>Mycompany_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mycompany_catalog_setup>
            <mycompany_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycompany_catalog_write>
            <mycompany_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mycompany_catalog_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <mycompany_catalog>
                    <file>mycompany_catalog.xml</file>
                </mycompany_catalog>
            </updates>
        </layout>
    </frontend>
</config>
